body {
    margin: 20px;
    background-color:beige;
}

#taskList {
    list-style: none;
    padding: 0;
}

.task-item {
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.completed {
    background-color: #d4f8d4;
    color: green;
    text-decoration: line-through;
}